[submodule "RdfUpload"]
	path = RdfUpload
	url = https://github.com/MaastrichtU-IDS/RdfUpload.git
[submodule "graphdb"]
	path = graphdb
	url = https://github.com/MaastrichtU-IDS/graphdb.git
[submodule "xml2rdf"]
	path = xml2rdf
	url = https://github.com/MaastrichtU-IDS/xml2rdf.git
[submodule "apache-drill"]
	path = apache-drill
	url = https://github.com/amalic/apache-drill
[submodule "AutoR2RML"]
	path = AutoR2RML
	url = https://github.com/amalic/AutoR2RML
[submodule "r2rml"]
	path = r2rml
	url = https://github.com/amalic/r2rml
[submodule "rdf4j-sparql-operations"]
	path = rdf4j-sparql-operations
	url = https://github.com/vemonet/rdf4j-sparql-operations.git
